.header {

  position: fixed;
  top: 0;
  max-height: 100px;
  width: 100%;

 
  background-color: #8c98a2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .Logo {
    grid-area: logo;
    height: 70px;
  }

  .Nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;

   
  }
  .Nav a {
    color: #fff;
    font-size: 15px;
    transition: 0.5s;
    text-decoration: none;
    padding-right: 4rem;
    height: 1.5rem;
  }
  .Nav a:hover {
    transform: scale(1.1);
  }
  .Nav button {
     cursor: pointer;
   }


  .Burger {
    display: none;
    grid-area: burger;
    margin: 0 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
    transition: 0.1s;
  }

  .Burger:active {
    transform: scale(1.2);
  }

  @media (max-width: 500px) {
      .Burger {
      display: inline;
    }
  }

  .NavAnimation-enter {
    opacity: 0;
    transform: scale(0.5);
  }
  .NavAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
  }
  .NavAnimation-exit {
    opacity: 1;
  }
  .NavAnimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
  }
}

.mobile{
  display: flex;
     flex-direction: column;
      transition: 0.5s;
     align-items: center;
   
      a{
      color: #fff;
     font-size: 15px;
       transition: 0.5s;
      text-decoration: none;
     
    }
}